header {
    height: 93px;
    left: 0px;
    top: 0px;
    background: #34343A;
}
.logo {
    width: 79px;
height: 64px;
margin-left: 16px;
margin-top: 14px
}
.search {
    width: 840px;
height: 37px;
margin-left: 80px;
border-radius: 10px;
vertical-align: middle;
margin-top: -50px;
border: none;
}
.signUp {
    vertical-align: middle;
    width: 130px;
margin-left: 320px;
margin-top: -55px;
}
.sent {
    color: white;
    background-color: #62A5F3;
    border-radius: 10px;
    width: 96px;
    height: 37px;
    font-size: 18px;
  margin-top: -85px;
  padding-top: 6px;
  margin-left: 1030px;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.navBar {
    vertical-align: middle;
    margin-top: -0.5px;
    width: 160px;
    height: 600px;
    background-color: #D9D9D9;
    color: #524B4B;
    font-size: 22px;
    padding-left: 50px;
    display: inline-block; 
}
.laptop {
    vertical-align: middle;
    margin-top: -440px;
    margin-left: -50px;
}
.phone {
    vertical-align: middle;
    margin-top: -345px;
    margin-left: -52px;
}
.display {
    vertical-align: middle;
    margin-top: -230px;
    margin-left: -40px;
}
.mouse {
    vertical-align: middle;
    margin-top: -110px;
    margin-left: -45px;
}
.main {
    vertical-align: middle;
    color: #524B4B;
    margin-top: -300px;
    display: inline-block;
}
.macbook {
    display: inline-block;
    vertical-align: middle;
    margin-left: 70px; 
    border: #62A5F3 solid 2px;
    border-radius: 10px;
    width: 303px; 
    height: 107px;
    padding-top: 106px;
    margin-top: 160px;
}
.asus {
    display: inline-block;
    vertical-align: middle;
    width: 303px; 
    height: 107px;
    padding-top: 106px;
    margin-left: 70px; 
    border: #62A5F3 solid 2px;
    border-radius: 10px;
    margin-top: 160px;
}
.lenovo {
    display: inline-block;
vertical-align: middle;
width: 303px; 
height: 107px;
padding-top: 106px;
border: #62A5F3 solid 2px;
border-radius: 10px;
margin-top: 160px;
margin-left: 70px;
}
.imgM {
    width: 303px;
    height: 106px;
    vertical-align: middle;
    margin-left: 285.5px;
    margin-top: -887px;
    border-radius: 10px;
}
.imgA {
    width: 303px;
    height: 106px;
    vertical-align: middle;
    margin-left: 73px;
    margin-top: -887px;
    border-radius: 10px;
}
.imgL {
width: 303px;
height: 106px;
vertical-align: middle;
margin-left: 73.5px;
margin-top: -887px;
border-radius:10px;
}
.buy1 {
    vertical-align: middle;
    width: 75px;
    height: 35px;
    color: white;
    background-color: #62A5F3;
    border-radius:10px;
    margin-top: -635px;
    margin-left: 285px;
    border: none;
}
.buy2 {
    vertical-align: middle;
    width: 75px;
    height: 35px;
    color: white;
    background-color: #62A5F3;
    border-radius:10px;
    margin-top: -635px;
    margin-left: 301px;
    border: none;
}
.buy3 {
    vertical-align: middle;
    width: 75px;
    height: 35px;
    color: white;
    background-color: #62A5F3;
    border-radius:10px;
    margin-top: -635px;
    margin-left: 301px;
    border: none;
}
.imgBuy1 {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: -670px;
    margin-left: 360px;
}
.imgBuy2 {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: -670px;
    margin-left: 345px;
}
.imgBuy3 {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: -670px;
    margin-left: 345px;
}
.sums {
    color: #62A5F3;
}
.k50 {
    vertical-align: middle;
    margin-top: -361px;
    margin-left: 540px;
}
.k30 {
    vertical-align: middle;
    margin-top: -53px;
    margin-left: 920px;
}
.k40 {
    vertical-align: middle;
    margin-top: -53px;
    margin-left: 1300px;
}