header {
    height: 93px;
    left: 0px;
    top: 0px;
    background: #34343A;
}
.logo {
    width: 79px;
height: 64px;
margin-left: 16px;
margin-top: 14px
}
.search {
    width: 840px;
height: 37px;
margin-left: 80px;
border-radius: 10px;
vertical-align: middle;
margin-top: -50px;
border: none;
font-family: 'Roboto Condensed', sans-serif;
}
.signUp {
    vertical-align: middle;
    width: 130px;
margin-left: 320px;
margin-top: -55px;
}
.sent {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-color: #62A5F3;
    border-radius: 10px;
    width: 96px;
    height: 37px;
    font-size: 18px;
  margin-top: -85px;
  padding-top: 6px;
  margin-left: 1030px;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.navBar {
    font-family: 'Roboto Condensed', sans-serif;
    vertical-align: middle;
    margin-top: -0.5px;
    width: 160px;
    height: 600px;
    background-color: #D9D9D9;
    color: #524B4B;
    font-size: 22px;
    padding-left: 50px;
}
main {
    display: flex;
    flex-wrap: wrap;
}
.main {
    display: flex;
    flex-direction: row;
}
.laptop {
    vertical-align: middle;
    margin-top: -440px;
    margin-left: -50px;
}
.phone {
    vertical-align: middle;
    margin-top: -345px;
    margin-left: -52px;
}
.display {
    vertical-align: middle;
    margin-top: -230px;
    margin-left: -40px;
}
.mouse {
    vertical-align: middle;
    margin-top: -110px;
    margin-left: -45px;
}
.l {
    margin-top: 150px;
   margin-left: 100px;
    width: 303px; 
    height: 107px;
    padding-top: 106px;
    border: #62A5F3 solid 2px;
    border-radius: 10px;
}
.i {
width: 303px;
    height: 106px;
    border-radius: 10px;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: -814px;
    margin-left: 311.7px;
}
.imgM {
    margin-left: 717.5px;
}
.imgL {
    vertical-align: middle;
    margin-left: 1124px;
    margin-top: -850px;
    height: 79px;
}
.imgA {
    height: 80.5px;
}
.b {
    vertical-align: middle;
    width: 75px;
    height: 35px;
    color: white;
    background-color: #62A5F3;
    border-radius:10px;
    margin-top: -635px;
    margin-left: 311.5px;
    border: none;
}
.buy2 {
    margin-left: 325px;
}
.buy3 {
    margin-left: 327px;
}
.v {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 390px;
    vertical-align: middle;
    margin-top: -338px;
}
.imgBuy2 {
    margin-left: 370px;
}
.imgBuy3 {
    margin-left:380px;
}
.sums {
    color: #62A5F3;
}
.k50 {
    margin-left: 970px;
    vertical-align: middle;
    margin-top: -346px;
}
.k30 {
    margin-left: 570px;
    vertical-align: middle;
    margin-top: -51px;
}
.k40 {
    margin-left: 1370px;
    vertical-align: middle;
    margin-top: -54px;
}
.characteristics {
    color: #62A5F3;
    font-size: 14px;
    vertical-align: middle;
}
.mac {
    margin-top: -85px;
    margin-left: 780px;
}
.as {
    margin-top: -415px;
    margin-left: 371px;
}
.len {
    margin-top: -78px;
    margin-left: 1190px;
}